@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #212428;
}
/* Shared Style */
.title-text{
    font-size:3.5rem;
    color:#C4CFDE;
    font-weight: 600;;
}
.description-text{
    color: #989ea8;
    font-size:1rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 25px;;
}



/* Nav */
.nav-container{
    display:flex;
    justify-content:center;
    align-items: center;
}
.navbar{
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* height: 200px;; */
    padding:20px 20px;
}
.nav-list{
    display:flex;
    gap:40px;
    /* justify-content: space-between; */
}
.nav-list li {
    list-style: none;
    
    gap:50px;
}
.fa-cart-shopping{
    background-color: #1D2024;
    box-shadow: -1px 1px solid #828994, 1px -1px solid #828994;
    
}
.nav-list  a{
    text-decoration: none;
    color:#C4CFDE;
}
.nav-title-text{
    color:#FF014F;
    font-size:4rem;
}
.nav-list a:hover{
    color:#FF014F;
    transition: .5s;
}
.nav-btn{
    padding:20px 20px;
    background-color: #1F2125;
    border-radius:8px;
    box-shadow:-5px 2px 10px #292929, 5px -2px 20px rgb(12, 12, 12);
   
 
}
.nav-button a{
    color:#FF014F;
}
.nav-button:hover{
    transform: translateY(-5px);
    transition: transform 0.5s ease-in-out 0.1s;
}
/* Banner Section */
.banner{
    display:flex;
    justify-content: center;
    margin-top:100px;
}
.banner-container{
    width:70%;
    display:flex;
    justify-content: space-between;
}
.banner-photo{
    width:100%;
}
.banner-text-first-title{
    color:#C4CFDE;
    font-size:1.2rem;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom:20px;
}
.banner-title{
    font-size:4.5rem;
    color:#FFFFFF;
    margin-bottom: 20px;
    line-height:75px;;
}
.banner-text{
    width:90%;
    
}
.fahim{
    color:#FF014F;
}
.banner-address{
    font-size:3.7rem;
}
.banner-description{
    color:#C4CFDE;
    letter-spacing: 1px;;
    margin-bottom:60px;
}
.banner-text a{
    text-decoration: none;
    color:#FF014F;
}
.banner-btn{
    padding:20px 30px;
    background-color: #1F2125;
    border-radius:8px;
    box-shadow:-5px 2px 10px #292929, 5px -2px 20px rgb(12, 12, 12);
}
.banner-button:hover{
    transform: translateY(-5px);
    transition: transform 0.5s ease-in-out 0.1s;
}
.banner-button{
    width:140px;
}

/* About Section */
.About-photography{
    display:flex;
    justify-content: center;
    margin-top:100px;
}
.about-container{
    width:70%;
    display:flex;
    gap:50px;
    /* height:600px; */
    /* margin-top:100px; */
}
.about-image{
    /* background-image: url(../Images/file\ \(1\).png);
    background-size: cover; */
    margin-bottom:100px;
    background-color: #212428;
    border-radius: 8px;;
    width:800px;
    height:700px;
    box-shadow:-5px 5px 20px #323335, 5px -5px 20px #020202;
    /* height:618px; */
    padding:30px 30px;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.about-image img:hover{
    transform:scale(1.1);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function:ease-in-out;
    transition-delay: 0s;
}
.about-photo{
    width:90%;
   
}
.about-third-description a {
    text-decoration: none;
    color:#FFFFFF;
    font-size:1.1rem;
}
.about-third-description{
    margin-bottom:80px;
}
.about-button a{
    text-decoration: none;
    color:#FF014F;
}
.about-button{
    width:210px;
    height:30px;
    padding:20px 20px;
    box-shadow:-5px 2px 10px #292929, 5px -2px 20px rgb(12, 12, 12);
    border-radius: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.about-btn{
    /* padding:20px 20px;
    box-shadow:-5px 2px 10px #292929, 5px -2px 20px rgb(12, 12, 12);
    border-radius: 8px;; */
}
.about-button:hover{
    transform: translateY(-5px);
    transition: transform 0.5s ease-in-out 0.1s;
    text-transform: uppercase;
     
     
}
.about-text{
   width:100%;
   margin-top:100px;
}
.about-title{
    font-size:3.1rem;
    width:100%;
    margin-bottom:25px;
}
.about-first-description{
    margin-bottom:30px;
}
.about-second-description{
    margin-bottom:35px;
}




/* Projects Section */

.projects{
    display:flex;
    justify-content: center;
    margin-top:100px;
}
.projects-container{
    width:70%;
}
.projects-text{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    /* text-align: center; */
    margin-top:100px;
    margin-bottom:50px;
}
.projects-first-title{
    color:#FF014F;
    font-size:1rem;
    font-weight:300;
    letter-spacing: 2px;
    margin-bottom:20px;;
}
.projects-main-title{
    font-size:4.5rem;
}
.project-image-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 80px;
    row-gap:30px;
    margin-top:50px;
}
.project-photo{
    width:100%;
    height:90%;
    border-radius: 10px;
    background-color: #212428;
    padding:20px 20px;
    box-shadow:-5px 2px 10px #292929, 5px -2px 20px rgb(12, 12, 12);
}
.out5{
    width:100%;
    /* height:auto; */
}
.projects-button{
    margin-top:25px;
}
.project-btn{
    /* font-family:"Montserrat", sans-serif; */
    letter-spacing: 2px;;
}
/* RECENT WORK PAGE */






.recent-back-btn{

}
.banner-button a{
    text-decoration: none;
    color:#FF014F;
}
.recent-button{
    margin-top:70px;
}
.recent-work{
    display:flex;
    justify-content: center;

}
.recent-work-container{
    width:70%;
}
.recent-work-elements{
    display:flex;
    justify-content: center;
    margin-top:50px;
}
.recent-work-elements-container{
    width:70%;

}
.outdoor-text{
    text-align: center;
    color:#FFFFFF;
    text-shadow: 1px 1px 5px #092326;
}
.outdoor-image-container{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap:25px;
    margin-top:50px;
}
.outdoor-image-container img{
    border-radius: 10px;
}
.outdoor-photo{
    width:100%;
    /* padding:20px 10px; */
    background-color: #212428;
    border-radius: 10px;;
    box-shadow:-5px 2px 10px #292929, 5px -2px 20px rgb(12, 12, 12);
    /* border-radius: 10px;; */
}


.indoor{
    display:flex;
    justify-content: center;
    margin-top:100px;
}
.indoor-container{
    width:70%;
}
.indoor-text{
    text-align: center;
}
#indoor3{
    width:100%;
    height:100%;
}
.wedding-image-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:35px;
    margin-top:50px;
}
.photoshop-height{
    width:100%;
    height:100%;
}
.graphic-width{
    width:100%;
}
.second-page-button{
    display:flex;
    justify-content:center;
}
.second-pg-btn{
    width:70%;
    justify-content: space-between;
}
#end{
    display:flex;
    justify-content: end;
    margin-top:20px;
    margin-bottom:30px;
}
.top-border{
    border-top:1px solid black;
    margin-top:50px;
    width:70%;
   display:flex;
   justify-content: center;
}

/* Main-Page */


/* Gallery Section */
.photo-gallery{
    margin-top:100px;
}
.gallery-first-title{
    color: #FF014F;
    font-size:1rem;
    font-weight:300;
    letter-spacing: 2px;;
    text-align: center;
}
.gallery-main-title{
    text-align: center;
}
.gallery-main-section{
    background-color:#17191D ;
    width:100%;
    /* height:800px; */
    margin-top:70px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:25px 0px;
 
}
.gallery-image-container{
    width:70%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap:20px;
    place-items: center;
}
.gallery-image-container a{
    text-decoration: none;
}
.gallery-photo{
    width:90%;
    border-radius: 10px;
}
.gallery-first-photo-title{
    text-align: center;
    margin-top:10px;
    color:#bbcce4;
}
.gallery-first-photo-title:hover{
    color:#FF014F;
    transition: 0.5s;
}
.gallery-image-description{
    text-align: center;
}
.gallery-btn-container{
    /* display:flex; */
    justify-content: center;
   

}
#gallery-button{
  margin-left:280px;
}

.gallery-btn{
    width:80px;
   margin:20px 0px;;
    display:grid;
    justify-items: center;
    height:auto;
}


/* Documentary Page */

.documentary{
    display:flex;
    justify-content:center;
}
.documentary-container{
    width:70%;
}
#rural-image-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
#bridge-image-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
#doco30{
    width:100%;
    height:90%;
}
#doco17{
    height:94%;

}



/* Main Page */

/* Get Section */
.get{
    margin-top:100px;
    display:flex;
    justify-content: center;
}
.get-container{
    width:70%;
}
.get-main-title{
    text-align: center;
}
.get-description{
    text-align: center;
}
#animate{
    width:25%;
}
#illustrator{
    width:25%;
}
.get-card-section{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    height:700px;
    /* gap:35px; */
    margin-top:70px;
    
}
.background{
    background-color: rgb(66, 62, 58);
    box-shadow:-5px 2px 10px #292929, 5px -2px 20px rgb(12, 12, 12);
}
.get-card{
    padding:40px 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;;
}
.get-card-icon {
    margin-bottom:25px;
}
.get-card-title{
    color:#bbcce4;
    margin-bottom:15px;
}
.get-card-description{
    color:#FF014F;
    font-weight:200;
    text-align: center;
    letter-spacing: 1px;;
}

/* Clients Section */


.clients{
    margin-top:100px;
    display:flex;
    justify-content: center;
}
.client-card-section{
    display:flex;
    justify-content: center;
    margin-top:50px;
}
.clients-container{
    width:70%;
    /* display:flex; */
}
.client-text{
    text-align: center;
}
.client-description{
    text-align: center;
    margin-top:15px;
}
.client-card-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    width:60%;
    gap:20px;
}
.client-card-photo{
    width:70%;
    border-radius: 50%;;
}
.client-name{
    color:#bbcce4;
    text-align:center;
    margin-top:15px;
}
.client-number{
    color:#FF014F;
    font-weight: 300;;
    font-size:0.8rem;
    margin-top:5px;
}
.clients-card-description{
    text-align: center;
    margin-top:5px;
}
.client-card{
    display:flex;
    flex-direction: column;
    align-items: center;
}


/* Contact Section */

.contact{
    margin-top:100px;
    display:flex;
    justify-content: center;
}
.contact-container{
    width:70%;
}
.contact-info{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.contact-image-container{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
}
.contact-photo{
    width:100%;
}
.contact-name{
    text-align: center;
    margin-top:15px;
}
.contact-description{
    color:#FF014F;
    text-align: center;
    margin-top:10px;
    letter-spacing: 1.5px;
    font-weight: 300;
}
.contact-second-description{
    text-align: center;
    margin-top:20px;
    text-align: center;
}
.contact-number{
    text-align: center;
    margin-top:20px;
}
.contact-email{
    text-align: center;
    margin-top:20px;
}
.cnum{
    color:#f3f8ff;
}
.contact-info a{
    text-decoration: none;
    color:#cfcdcd;
    margin-bottom:10px;
    text-align: center;
}
.contact-info a:hover{
    color:#FF014F;
}
.contact-find{
    color:#01a2ff;
    margin-top:30px;
    margin-bottom:15px;
}
.container {
    display: flex;
    margin-top: 20px;
    gap: 30px;
    /* box-sizing: border-box; */
    /* box-shadow: 1px 1px 20px #FF014F; */
    /* width:20%; */
    /* flex-direction: column; */
}

.icon-content {
    /* background-color: #1F2226; */
    width: 40px;
    height: 40px;
    border-radius: 8px;
    ;
    /* box-shadow: 1px 1px 10px #636060; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-content:hover {
    transform: translateY(-5px);
    transition: 0.5s;
}

.icon-title {
    color: #B0BAC8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.icon-element {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.contact-title{
    text-align: center;
}
.contact-descriptionn{
    text-align: center;
    margin-bottom: 50px;
    margin-top:15px;;
}